doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title GitChat
    meta(name="description", content="Chat build on top of GitHub API")
    meta(name="keywords", content="chat, github, api, socket.io")
    meta(name="author", content="Enginimation Team")
    link(rel="stylesheet", href="/index.css")   
    script
      var gChat = {};
      gChat.user = {
        id: '#{user.id}',
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };
    script(src="/socket.io/socket.io.js")            
  body
    #intro-page.page.invisible
      section
       h1 Hi, Hackers!
       div 
         p There is obviously lack of chats in universe so we decided to solved this problem and build this one.&nbsp;
         p ...But where is actually hack?
         p What is really cool about it that we build it on top of GitHub API.
           | So all chat history is saved to GitHub. Yeah, it's right, we are using GitHub as data storage!
         p Created by <a href="https://twitter.com/m_aleksandrova" target="_blank">Maryna</a>, <a href="https://twitter.com/podviaznikov" target="_blank">Anton</a>.
         p Join Berlin Hackathon Room <a href="/room/marynaaleksandrova/gitchat/4">here</a> and have fun!
         p Checkout source code on <a href="https://github.com/marynaaleksandrova/gitchat" target="_blank">GitHub</a>
    #chat-page.page.invisible   
      div#chat
        div.chat-body
        div#input-area
          div.input-wrapper
            div.textarea
              textarea(rows=2).msg-area
            button#msg-send Send
      div#chat-menu
        ul.top-menu
          li.user.logined-show
            img.avatar
            span
          li
            a(href="/auth").unlogined-show Login
          li
            a(href="/logout").logined-show Logout 
        ul.chat-mates
  script(src="/js/underscore-min.js")
  script(src="/js/moment.min.js")
  script(src="/js/jquery-1.8.2.min.js")
  script(src="/js/page.js")
  script(src="/js/app.js")