doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title GitChat
    meta(name="description", content="Chat build on top of GitHub API")
    meta(name="keywords", content="chat, github, api, socket.io")
    meta(name="author", content="Enginimation Team")
    link(rel="stylesheet", href="/index.css")   
    script
      var gChat = {};
      gChat.user =  {
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };            
  body
    div Hello