doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title GitChat
    meta(name="description", content="Chat build on top of GitHub API")
    meta(name="keywords", content="chat, github, api, socket.io")
    meta(name="author", content="Enginimation Team")
    link(rel="stylesheet", href="/index.css")   
    script
      var gChat = {};
      gChat.user = {
        id: '#{user.id}',
        username: '#{user.username}',
        avatar: '#{user.avatar}',
        profileUrl: '#{user.profileUrl}',
        displayName: '#{user.displayName}',
        accessToken: '#{user.accessToken}'
      };
    script(src="/socket.io/socket.io.js")            
  body
    div.user.logined-show
      img.avatar
      span
    a(href="/auth").unlogined-show Login
    a(href="/logout").logined-show Logout 
    #home-page.page.invisible
      form(onsubmit="return false;")
        input#chat-room-name
        textarea#chat-room-members
        button#create-chat-room Create room
    #chat-page.page.invisible   
      div#chat
        div.chat-body
        div#input-area
          div.input-wrapper
            div.textarea
              textarea.msg-area
            button#msg-send Send
      ul.chat-mates
  script(src="/js/underscore-min.js")
  script(src="/js/moment.min.js")
  script(src="/js/jquery-1.8.2.min.js")
  script(src="/js/page.js")
  script(src="/js/app.js")